* {
    margin: 0;
    padding: 0;
    font-family: $primaryFont;
}

h1 {
    margin: 3rem;
    color: $primaryColor;
    font-weight: 600;
    letter-spacing: 0.25rem;
}

h3 {
    font-size: 0.8rem;
}
