.main-container {
    margin: 0 3rem 3rem 3rem;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    border: 1px solid $borderColor;
    border-radius: 1rem 1rem 0 0;
    border-bottom: none;
    padding: 1rem 0;
    background-color: $secondaryColor;
    color: $primaryColor;
    font-weight: 600;
}
.day-name-short {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, auto);
    background-color: $borderColor;
    gap: 1px;
    border: 1px solid $borderColor;
}

.grid-component {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100px;
    background-color: white;
}

.day-number {
    margin: 0.5rem 0.5rem 0 auto;
    font-size: 0.8rem;
    font-weight: 600;
    border-radius: 50%;
    padding: 0.125rem 0.35rem;
    background-color: rgba(150, 150, 150, 0.1);
}

.day-event {
    font-size: 0.8rem;
    background-color: $borderColor;
    margin: 0.5rem;
    padding: 0.5rem 0;
    border-radius: 0.3rem;
    cursor: pointer;
}

.event-name,
.event-detail {
    padding: 0.25rem 0.5rem;
    color: $primaryColor;
}

.event-name {
    font-weight: 600;
}

.hidden {
    display: none;
}
